{% extends 'base.html' %}
{% block content %}
<section data-markdown>
          <textarea data-template>
            Talk in progress
            ## Great Speaker

              The motivation we get from travelling the country.

            ### 14:45 - 15:20

          </textarea>
</section>
<section data-markdown data-autoslide="2000">
          <textarea data-template>

            Next
            #### 15:20 Coffee break


          </textarea>
</section>
<section data-markdown>
          <textarea data-template>
            Next
            ## Another Talkative

              Binge coding.

            ### 15:45 - 16:20

          </textarea>
</section>
{% endblock %}
